@{
    ViewData["Title"] = "EEMS.Janubi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <br/>
    <p>الرجاء إختيار الخدمة المطلوبة</p>
    <br />
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Check">طلب فاتورة الإشتراك</a>
    <br />
    <a class="btn btn-primary" style="margin-top: 10px;" asp-area="" asp-controller="Home" asp-action="UploadData">تحديث الفواتير (مدير)</a>
</div>
