@using System.Security.Principal

<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
        <span class="navbar-text text-dark">@User.Identity?.Name</span>
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">تسجيل الخروج</a>
        </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">تسجيل الدخول</a>
        </li>
}
</ul>
