body {
    font-size: 13px!important;
    font-family: Segoe UI, Verdana, Arial!important;
}
/*.dx-tabs-header, .dx-tabs-sep, .dx-tabs-filler, .dx-tabs td img*/
#SiteHeaderBar, #TreeTopics, #dxspMain_1i0, #dxspMain_0, #dxspMain_1_S, #dxspMain_1i1_S, #Beta {
    display: none!important;
}
#dxspMain_1, #dxspMain_1_CC, #dxspMain_1i1, #dxspMain_1i1_CC, #dxspMain, #MainDiv, #dxspMain_1_T,
html, body, form, div.dxspMain_mainPaneDiv {
    width: auto!important;
    height: auto!important;
    overflow: visible!important;
    border: None 0px!important;
    float: none !important;
}
* {
    float: none!important;
    width: auto!important;
    height: auto!important;
    overflow: visible!important;
}
table.dx-tabs td.dx-tabs-filler div {
    width: 100%!important;
    height: 100%!important;
}
table.dx-tabs td img {
    width: 100%!important;
    height: 100%!important;
}
table.dx-tabs tr:first-child td {
    border-bottom: None 0px!important;
}
.dx-tabs-contents { 
    display: block!important; 
}
.dx-title {
    width: 100%!important;
}
.dx-regiontitle {
    font-size: 18px;
    font-weight: bold;
}
.dx-title {
    font-size: 20px;
    font-weight: bold;
}

td.dx-tabs-header, td.dx-tabs-sep {
/*    display: none!important;*/
}
td.dx-active {
    display: block!important;
}

/*
html, body, form { width: 700px!important; }
*/
/*
address,
blockquote, 
body, dd, div, 
dl, dt, 
form,
h1, h2, h3, h4, 
h5, h6, 
object, ol, p, 
ul,
hr, pr e        { display: block }
li              { display: list-item }
head            { display: none }
th              { font-weight: bolder; text-align: center }
caption         { text-align: center }
body            { padding: 8px; line-height: 1.33 }
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .83em 0 }
h3              { font-size: 1.17em; margin: 1em 0 }
h4, p,
blockquote, ul,
form,
ol, dl         { margin: 1.33em 0 }
h5              { font-size: .83em; line-height: 1.17em; margin: 1.67em 0 }
h6              { font-size: .67em; margin: 2.33em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bolder }
blockquote      { margin-left: 40px; margin-right: 40px }
i, cite, em,
var, address    { font-style: italic }
pre, tt, code,
kbd, samp       { font-family: monospace }
pre             { white-space: pre }
big             { font-size: 1.17em }
small, sub, sup { font-size: .83em }
hr              { border: 1px  }
ol, ul, dd      { margin-left: 40px }
ol              { list-style-type: decimal }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
br       { content: "\A" }


@media print {
  @page         { margin: 10% }
  blockquote, 
  pre           { page-break-inside: avoid }
}
*/