html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

[type="file"]::before {
    content: "إختر الملف";
    position: absolute;
    z-index: 2;
    display: block;
    background-color: #e9ecef;
    width: 105px;
    margin-right: -12px;
    height: 36px;
    margin-top: -6px;
    padding: 5px;
    padding-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}